body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
html{
  background: grey;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header>h1{
  color:white;
  text-align: center;
}

.contenido-principal.contenido{
  background: white;
  padding-top: 50px;
  text-align: center;
}

.row{
  padding-left:1%;
}

.alert-danger{
  color:red;
}

.alert-warning{
  color:orange;
}

.alert-success{
  color:green;
}